* {
    margin: 0;
}

@media screen and (min-width:1000px) {
    body {
        background-image: url(background2.png);
        background-size: 100%;
    }
    div{
        display: none;
    }
    div.sloganpc{
        text-align: center;
        margin: 20px;
        display: block;
        img{
            width: 60%;
            border-radius: 30px;
        }
    }
}

@media screen and (max-width:1000px) {
    body {
        background-image: url(background2.png);
        background-size: 400%;
        margin-bottom: 40%;
    }

    .top {
        text-align: center;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.188);
        color: white;

        h1 {
            display: none;
        }

        img {
            width: 100px;
        }

        a {
            display: none;
        }

        span {
            display: inline;
        }
    }
    .sloganpc{
        display: none;
    }
    .slogandv {
        font-family: arial;
        font-weight: 1000;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        color: #f57280;
        text-align: center;

        a {
            color: #f57280;
        }

        button {
            padding: 5px;
            border-radius: 15px;
            width: 20vh;
            font-size: 25px;
            color: #ffffff;
            background-color: #f57280;
            border: none;

        }

        button:active {
            background-color: #974a52;
        }
    }


    .produtos {
        font-family: arial;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .produto {
        width: 90%;
        padding: 15px;
        background: #fff3f3;
        margin: 15px;
        border-radius: 10px;

        button {
            color: white;
            margin-top: 10px;
            border-radius: 15px;
            font-weight: 1000;
            background-color: #f57280;
            border: none;
            font-size: 25px;
            width: 70px;
        }

        button:active {
            background-color: #974a52;
        }
    }

    .produto img {
        width: 100%;
        border-radius: 10px;
    }

    .botao-comprar {
        backdrop-filter: blur(5px);
        margin: 15px;
        border-radius: 15px;
        font-family: arial;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 5px;
        background-color: #f57280;
        color: white;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        border: solid white;

        #revisarPedido {
            margin: 5px;
            border-radius: 15px;
            font-size: 20px;
            color: #f57280;
            background-color: #ffffff;
            border: none;

            button:active {
                background-color: #974a52;
            }
        }

        .realizarPedido {

            padding: 20px 15px 20px 15px;
        }

        button {
            padding: 5px 40px 5px 40px;
            border-radius: 15px;
            font-size: 25px;
            color: #f57280;
            background-color: #ffffff;
            border: none;
        }

        button:active {
            background-color: #974a52;
        }

        #totalItem {
            font-size: 35px;
        }
    }

    dialog {
        button {
            margin-top: 15px;
            border: solid #f57280;
            padding: 0px;
            border-radius: 15px;
            width: 30%;
            font-size: 25px;
            color: #f57280;
            background-color: #ffffff;
        }

        button:active {
            color: #f2f2f2;
            background-color: #974a52;
        }

        dialog {
            font-weight: 1000;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* CENTRALZIAR MODAL */
    }

    dialog {
        width: 60%;
        max-width: 500px;
        height: auto;
        margin: auto;
        /* Centraliza horizontalmente */
        padding: 20px;
        border: none;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* Centraliza verticalmente e horizontalmente */
        z-index: 1000;
        /* Garante que o modal fique acima de outros elementos */
    }

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.806);
    }

    .rodape {
        padding: 10px;

        background-color: rgb(255, 255, 255);

        a {
            font-size: 14px;
            font-family: arial;
            margin-left: 5px;
            font-weight: 800;
            color: #f57280;
        }

        hr {
            margin: 10px;
        }
    }

    .sobre {
        color: white;
        background-color: rgba(0, 0, 0, 0.458);
        padding: 20px;
        backdrop-filter: blur(5px);
        font-family: arial;
        margin: 3% 7% 10% 7%;

        p {
            margin-top: 20px;
            font-size: 20px;
        }
    }

    hr {
        border-color: #f57280;
        margin: 20px 0 20px 0;
    }
}